/* Smartphone*/

@media (max-width:600px ) {
    *{
        max-width:600px;
        margin: 0;
        padding: 0;
    }

    nav{
        position: fixed;
        align-items: start;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    nav > a.menu{
        display: block;
        margin-top: 7%;
        padding-left: 2%;
        padding-right: 2%;
   
    }
    
    nav > a.menu > svg{
        width: 60px;
        
    }
    nav > .card {
        display: none;
        background-color:white;
        width: 50%;
        height: 530px;
        padding-right: 10px;
        margin: 0;
        font-family: "Boldonse", system-ui;
        border-top-right-radius:25px;
        border-bottom-right-radius:25px;
        text-align: start;
    }
    
    nav > .card >a.navBotoes{
        display: block;
        font-size: 15px;
        font-weight: 300;
        margin: 25% 0px;
        padding: 20px 10px;
        border-top-right-radius:25px;
        border-bottom-right-radius:25px;
        background-color: rgb(155, 4, 4);
        color:white;
    }
    
    nav > .card > .voltar > svg{
        display: block;
        width: 100%;
        height: 70px;
        
    }

    nav > .card > .delivery{
        display: grid;
        margin-top: 10px;
    }
    nav > .card > .delivery > img.DeliveryMotoboy{
        height: 80px;
        width: 80px;
        margin: auto;
        
    }
    
    nav > .card > .delivery > .textoDelivery{
        color: rgb(155, 4, 4);
        font-weight: 600;
        text-align: center;

    }

    nav >.card > .delivery > .textoDelivery > strong{
        color: #F09C05;
        font-weight: bold;
    
    }



    nav > img.logo{
        height: 130px;
        padding: 0px 5%;

    }

    nav > .navBotoes2 > span{
        display: none;
    }
    
    nav > a.Botaoroleta{
        display: block;
        margin-right: 0;
        margin-top: 8%;
        width: 110px;
        font-size: 12px;

    }
    nav > .delivery > img.DeliveryMotoboy{
    
        display: none;

    }

    nav > .delivery > .textoDelivery{
        padding-right: 0px;
        display: none;

    }

                                                                /* main */
                                                                /* inicio */


    main > .principal > section.inicio > .texto{
        width: 100%;
        padding-left: 50px;
        /* position: absolute; */
        padding-bottom: 10px ;
        padding-top: 40px;

        
    }

    main >.principal > section.inicio > .texto > h1{
        font-size: 60px;
    }

    main > .principal > section.inicio > .texto > .cardsecundario{
        display: grid;
        align-items: start;
        justify-content: start;
    }

    main > .principal > section.inicio > .texto > .cardsecundario > h1{
        margin: 20px 0px;
        font-size: 30px;
    }
    
    main > .principal > section.inicio >.imagem{
        /* display: inline-block; */
        display: none;
        padding-top: 70px;
    }
    main >.principal > section.inicio > .texto > .sabores > a{
        margin: 0;
        padding: 5px;
        font-size: 18px;
    }

    /* Carrinho */

    .CarrinhodeCompras{
        display: block;
        position: fixed;
        top: 90%;
        left: 80%;
        
    }
    
    .CarrinhodeCompras > .navBotoes2{
        border: none;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        text-align: center;
        
    }

    .CarrinhodeCompras> .navBotoes2 > span{
        border: none;
        color: rgb(155, 4, 4);
        text-decoration: none;
        font-size: 35px;
        font-weight: 600;
    }

   
    
    
    
    /* CARDAPIO */
    
    
    .cardapio >.inicio > h1{
        font-size: 40PX;
    }
    
    .cardapio >.conteinersabores >.sabor{
        padding: 10px 0px;
        margin: 10px 0px;
        width: 170px;
        height: 250px;
    }
    

    /*ROLETA  */

    .roleta{
        height: 100%;
        display: flex;
        align-content: center;
        width: 100%;
        padding: 0;
        
        
        
    }
    
    .SistemaRotela{
        width: 90%;
        
    }



    /* CARPADIO */


    .sabor{
        height: 200px;
    }
    .add-to-cart{
        font-size: 12px;
    }
    
    .card-meio-a-meio{
        font-size: 12px;
        
    }

   

    /* ACOMPANHAMENTOS */

    .acompanhamentos{
        padding: 20px;
        background-color: rgb(155, 4, 4);
    }

    .acompanhamentos > .texto > h1{
        font-size: 30px;
    }

    .acompanhamentos > .conteudo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .acompanhamentos > .conteudo > .imagem{
        display: none;
    }

    .acompanhamentos > .conteudo > .refri > div{
        width: 130px;
    }

    .acompanhamentos > .conteudo > .refri > div > img{
        width: 130px;
        height: 130px;
    }
    .acompanhamentos > .conteudo > .refri > div > h1{
        font-size: 18px;
        
    }
    .acompanhamentos > .conteudo > .refri > div > a{
        font-size: 10px;
    }


    
    /* CARDS */

    .conteiner{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .conteinerMetade{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;


    }
    .conteinerMetade > .tamanho{
        width: 90%;
        height: 700px;
    }
    
    .tamanho{
        
        width: 90%;
        height: 450px;
    }

    .card > div{
        margin: auto;
    }

    .card > div > button{
        height: 60px;
        width: 80px;
    }

    .conteinerMetade > .tamanho > h1{
        font-size: 25px;
    }

    .carne{
        width: 80px;
    }

    
    /* ENTREGA */

    .entrega{
        padding: 40px 20px;
    }

    .entrega > img{
        display: none;
    }


    .entrega > .texto > .imagens > div{
        padding:0px 10px ;
    }

    .entrega > .texto > .imagens > div{
        padding: 0;
    }
   
    
    
    /* CONTATO */
    
    
    .titulo > h1{
        font-size: 40px
    }
    
    .conteudo{
        
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .conteudo > img{ 
        margin: auto;
        height: 450px;
    }

    .conteudo > .texto{
        background-color: #9B0404;
    }


}