/* Smartphone*/

@media (max-width:600px ) {
    *{
        max-width:600px;
        margin: 0;
        padding: 0;
    }

    nav{
        position: fixed;
        align-items: start;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    nav > a.menu{
        display: block;
        margin-top: 7%;
        padding-left: 2%;
        padding-right: 2%;
   
    }
    
    nav > a.menu > svg{
        width: 60px;
        
    }
    nav > .card {
        display: none;
        background-color:white;
        width: 50%;
        height: 460px;
        margin: 0;
        font-family: "Boldonse", system-ui;
        border-top-right-radius:25px;
        border-bottom-right-radius:25px;
        text-align: center;
    }
    
    nav > .card >.navBotoes{
        display: block;
        font-size: 15px;
        font-weight: 300;
        margin: 40px 0px;
        height: 60px;
        width: 170px;
        border-top-right-radius:25px;
        border-bottom-right-radius:25px;
        background-color: rgb(155, 4, 4);
        color:white;
    }

    .inicioConteinerC{
        display: flex;
        justify-content: center;
    }

    .inicioConteinerC h1{
        font-size: 25px;
    }

    .inicioConteinerC .voltar{
        position: fixed;
        left: 80%;
        display: block;
        background-color: rgba(240, 255, 255, 0);
    }

    .inicioConteinerC .voltar span{
        color: black;
    }

    .inicioCarrinho .voltar{
        position: fixed;
        left: 85%;
        display: block;
    }

    .inicial .voltar{
        position: fixed;
        left: 93%;
        display: block;
        width: 80px;
        height: 60px;
    }

    .conteinerC{
        padding: 0;
    }

    .conteinerC .tamanho{
        margin: 20px auto;
        width: 90%;
        height: 400px;  
    }

    .inicioConteiner {
        display: flex;
        justify-content: center;
    }

    .inicioConteiner h1{
        font-size: 25px;
    }

    .inicioConteiner .voltar{
        position: fixed;
        left: 80%;
        display: block;
        background-color: rgba(240, 255, 255, 0);
    }

    .inicioConteiner .voltar span{
        color: black;
    }

    
    nav > .card > .voltar{
        display: block;
        width: 90%;
        height: 60px;
        
    }

    nav  .card  .voltar span {
        color: black;
    }

    nav > .card > .delivery{
        display: grid;
    
    }
    nav > .card > .delivery > img.DeliveryMotoboy{
        height: 70px;
        width: 80px;
        margin: auto;
        
    }
    
    nav > .card > .delivery > .textoDelivery{
        color: rgb(155, 4, 4);
        font-weight: 600;
        text-align: center;

    }

    nav >.card > .delivery > .textoDelivery > strong{
        color: #F09C05;
        font-weight: bold;
    
    }



    nav > img.logo{
        height: 130px;
        padding: 0px 5%;

    }
    nav > a.Botaoroleta{

        display: block;
        margin-right: 0;
        margin-top: 8%;
        width: 110px;
        font-size: 12px;

    }
    nav > .delivery > img.DeliveryMotoboy{
    
        display: none;

    }

    nav > .delivery > .textoDelivery{
        padding-right: 0px;
        display: none;

    }

                                                                /* main */
                                                                /* inicio */


    main > .principal > section.inicio > .texto{
        width: 100%;
        padding-left: 50px;
        /* position: absolute; */
        padding-bottom: 10px ;
        padding-top: 40px;

        
    }

    main >.principal > section.inicio > .texto > h1{
        font-size: 60px;
    }

    main > .principal > section.inicio > .texto > .cardsecundario{
        display: grid;
        align-items: start;
        justify-content: start;
    }

    main > .principal > section.inicio > .texto > .cardsecundario > h1{
        margin: 20px 0px;
        font-size: 30px;
    }
    
    main > .principal > section.inicio >.imagem{
        /* display: inline-block; */
        display: none;
        padding-top: 70px;
    }
    main >.principal > section.inicio > .texto > .sabores > a{
        margin: 0;
        padding: 5px;
        font-size: 18px;
    }

    /* Carrinho */

    .cart{
        display: flex;
        position: fixed;
        top: 90%;
        left: 80%;
        
    }
    
    .cart > .navBotoes2{
        border: none;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        text-align: center;
        
    }

    .cart> .navBotoes2 > span{
        border: none;
        color: #9B0404;
        background-color: rgba(255, 255, 255, 0);
        text-decoration: none;
        font-size: 35px;
        font-weight: 600;
    }

    .cartP{
        display: none;
        background-color: #EAB308;
        border-radius: 50%;
        color: white;
        width: 15px;
        height: 15px;
        padding: 2px;
        font-size: 12px;
        text-align: center;
        margin-left: -15px;
    }

   
    
    
    
    /* CARDAPIO */
    
    
    .cardapio >.inicio > h1{
        font-size: 40PX;
    }
    
    .cardapio >.conteinersabores >.sabor{
        padding: 10px 0px;
        margin: 10px 0px;
        width: 170px;
        height: 250px;
    }
    

    /*ROLETA  */

    .roleta{
        height: 100%;
        display: none;
        align-content: center;
        width: 100%;
        padding: 0;
        
        
        
    }
    
    .SistemaRotela{
        width: 90%;
        height: 600px;
        
    }

    .inicioRoleta{
        display: flex;
        justify-content: center;
    }
    .inicioRoleta h1{
        font-size: 22px;
    }

    .inicioRoleta .voltar{
        position: fixed;
        background-color: rgba(240, 248, 255, 0);
        left: 80%;
        display: block;
    }
    
    .inicioRoleta .voltar span{
        color: black;

    }



    /* CARPADIO */


    .sabor{
        height: 200px;
    }
    .add-to-cart{
        font-size: 12px;
    }
    
    .card-meio-a-meio{
        font-size: 12px;
        
    }

   

    /* ACOMPANHAMENTOS */

    .acompanhamentos{
        padding: 20px;
        background-color: rgb(155, 4, 4);
    }

    .acompanhamentos > .texto > h1{
        font-size: 30px;
    }

    .acompanhamentos > .conteudo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .acompanhamentos > .conteudo > .imagem{
        display: none;
    }

    .acompanhamentos > .conteudo > .refri > div{
        width: 130px;
    }

    .acompanhamentos > .conteudo > .refri > div > img{
        width: 130px;
        height: 130px;
    }
    .acompanhamentos > .conteudo > .refri > div > h1{
        font-size: 18px;
        
    }
    .acompanhamentos > .conteudo > .refri > div > a{
        font-size: 10px;
    }


    
    /* CARDS */

    .conteiner{
        padding:0;
    }


    .conteinerMetade{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;


    }
    .conteinerMetade > .tamanho{
        width: 90%;
        height: 620px;
    }
    .conteiner .tamanho{
        margin: 20px auto;
        width: 90%;
        height: 400px;      
    }
    

    .inicial{
        justify-content: center;
    }

    .card{
        display: flex;
        flex-wrap: wrap;
    }
    .card > div{
        margin: 15px auto;
    }

    .card > div > button{
        height: 80px;
        width: 120px;
        margin-bottom: 3px;
    }

    .conteinerMetade > .tamanho > h1{
        font-size: 25px;
    }

    .meio{
        width: 80%;
        justify-content: space-evenly;
    }

    .input{
        width: 100%;
    }

    
    /* ENTREGA */

    .entrega{
        padding: 40px 20px;
    }

    .entrega > img{
        display: none;
    }


    .entrega > .texto > .imagens > div{
        padding:0px 10px ;
    }

    .entrega > .texto > .imagens > div{
        padding: 0;
    }
   
    
    
    /* CONTATO */
    
    
    .titulo > h1{
        font-size: 40px
    }
    
    .conteudo{
        
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .conteudo > img{ 
        margin: auto;
        height: 450px;
    }

    .conteudo > .texto{
        background-color: #9B0404;
    }
    .conteudo > .texto > p > a{
        font-size: 15px;
    }

                                                            /* Card Carrinho */
    .SistemaCarrinho{
        width: 100vw;
    }
    
    .SistemaCarrinho  .inicioCarrinho{
        width: 100%;
        justify-content: center;
        padding-left: 10px;
        border-radius: 0px;
    }

    .CardFiPedido{    
        height: 14vh;
        width: 100%;
        display: none;
        align-items: center;
        justify-items: center;
    }
    .FiPedido{
        position: fixed;
         top: 1;
        left: 1; 
        width: 100%;
        display: none;
        align-items:center;
        justify-content: space-around;
        color: #9B0404;
        margin-bottom: 5px;
    }
    
    .FiPedido a{
        text-decoration: none;
        font-weight: 600;
        background-color: white;
        width: 180px;
        height: 35px;
        padding-top: 5px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 1px 1px 5px #9B0404;
        color: #9B0404;
        border: 2px solid #9B0404;
    
    }
    
    .FiPedido a:hover{
        transform: scale(1.10);
        background-color: white;
        transition: .4s;
    }

    .conteudoPizzas , .conteudoAcompanhamento{
        justify-content: space-between;
    }

    .saborPizza {
        color: #F09C05;
        text-transform: uppercase;
        font-size: 13px;
    }
}



