@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
*{
    margin: 0;
    padding: 0;
    margin: auto;
}

body{
   
    font-family: "Gidole", sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(155, 4, 4);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    position: fixed;
}

nav > a.menu{
    display: none;
}

nav > .card > a.navBotoes{
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 40px;
}

nav > .card > a.navBotoes:hover{
    color: #F09C05;
    font-size: 17px;
    transform: scale(1.10);
    transition: .4s;
}

nav > .card > .voltar > svg{
        display: none;

}

nav >.card > .delivery{
    display: none;
}

nav > img.logo{
    width: 130px;
    height: 130px;
}

nav > a.Botaoroleta{
    color: white;
    text-decoration: none;
    font-weight: 600;
    background-color: black;
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

nav > button.navBotoes2{
    border: none;
    color: #991B1B;
    height: 20px;
}
nav > .navBotoes2 > span{
    background-color: rgb(155, 4, 4);
    border: none;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}

nav > .delivery{
    margin-top: 10px;
    display: flex;


}

nav > .delivery> .DeliveryMotoboy{
    width: 80px;
    height: 80px;
}

nav > .delivery > .textoDelivery{
    color: #F09C05;
    font-weight: 600;
    

}
nav > .delivery > .textoDelivery > strong{
    color: aliceblue;
    font-weight: bold;

}




nav > .Botaoroleta:hover{
    color: black;
    background-color: white;
    transform: scale(1.10);
    transition: .4s;
}

nav > .navBotoes2 > span:hover{
    color: #F09C05;
    transform: scale(1.20);
    transition: .2s;
}

                                                                            /* MAIN */
                                                                            /* iNICIO */

main >  .principal {
    background-color: rgb(155, 4, 4);
}

main > .principal > section.inicio{
    height: 675px;
    background-color: rgb(155, 4, 4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    max-width: 1200px;
    
}

main >.principal > section.inicio > .texto{
    width: 40%;  
}

main >.principal > section.inicio > .texto > p{
    font-family: "Parisienne", serif;
    font-size: 30px;
    color: white;
    font-weight: 900;
}

main >.principal > section.inicio > .texto > h1{
    font-family: "Boldonse", system-ui;
    font-weight: 900;
    font-size: 90px;
    color: #F09C05;
}

main >.principal > section.inicio > .texto > .sabores{
    display: flex;
}

main >.principal > section.inicio > .texto > .sabores > a{
    margin: 0;
    margin-right: 10px;
    font-size: 20px;
    color: white;
    padding-right: 10px;
    cursor: pointer; 
}

main >.principal > section.inicio > .texto > .sabores > a:hover{
    transform: scale(1.10);
    transition: .4s;
}

main >.principal > section.inicio > .texto > .cardsecundario{
    margin-top:40px ;
    align-content: start;
    display: inline-flex;
}

main >.principal > section.inicio > .texto > .cardsecundario > a > button{
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Gidole", sans-serif;
    cursor: pointer;
    
}



main >.principal > section.inicio > .texto > .cardsecundario > a > button:hover{
    color: black;
    background-color: white;
    transform: scale(1.10);
    transition: .4s;
}

main >.principal > section.inicio > .texto > .cardsecundario > h1{
    color: #F09C05;
    font-size: 20px;
    font-family: "Boldonse", system-ui;
    margin-left: 70px;
}


main >.principal > section.inicio >.imagem{
    text-align: end;
    width: 50%;
    margin-top: 50px;
    padding-top: 50px;
    
    
}

main >.principal > section.inicio >.imagem > img{
    width: 550px;
    height: 550px;
}

.CarrinhodeCompras{
    display: none;
}


                                /* CARDAPIO */


.cardapio{
    background-color: white;
    text-align: center;
    display: grid;
    justify-content: center;
    max-width: 1200px;
}

.cardapio >.inicio{
    background-color: rgba(255, 255, 255, 0.534);
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    
} 

.cardapio >.inicio > h1{
    font-family: "Boldonse", system-ui;
    font-weight: 900;
    margin-top: 30px;
    font-size: 80px;
    color:rgb(155, 4, 4);
}
.cardapio > .inicio > .pesquisar{
    display: flex;
}

.cardapio > .inicio > .pesquisar >input{
    padding: 5px;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-family: "Boldonse", system-ui;
}

.cardapio > .inicio > .pesquisar >input::placeholder{
    color: #F09C05;
    font-size: 13px;
    font-weight: 100;
}

.cardapio > .inicio > .pesquisar > a > svg{
    color: black;
    width: 25px;
}


.cardapio > .inicio > a{
    display: block;
    text-decoration: none;
    color: #F09C05;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 30px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}

.cardapio > .inicio > a:hover{
    background-color: #F09C05;
    color: black;
    border: 1px solid #F09C05;
}

.cardapio >.conteinersabores{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cardapio >.conteinersabores >.sabor{
    width: 200px;
    margin: 3% 5%;
    padding: 50px 20px;
    border-radius: 15px;

}

.cardapio > .botao {
    display: block;
    text-decoration: none;
    background-color:#F09C05;
    color: white;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 15px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 900;
}

.cardapio > .botao > button {
    background: none;
    outline: none;
    border: none;
    color: white;
    font-weight: 900;
    cursor: pointer;
    
}

.cardapio > .botao:hover{
    cursor: pointer;
    background-color: #e19405;
    transition: .2s linear;
}

.cardapio >.conteinersabores > .botao2{
    display: none;

}
.cardapio >.conteinersabores > .botao2 > a{
    text-decoration: none;
    background-color:#F09C05;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 900;
}

.cardapio >.conteinersabores > .botao3{
    display: none;

}

.cardapio >.conteinersabores > .botao3 > a{
    text-decoration: none;
    background-color:#F09C05;
    color: white;
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 900;
}



.cardapio >.conteinersabores >.sabor:hover{
    background-color: lightgrey;

}
.cardapio >.conteinersabores >.sabor > img{
    height:100px;

}

.cardapio >.conteinersabores >.sabor >h2{
    font-size: 20px;
}

.cardapio >.conteinersabores >.sabor >p{
    font-size: 15px;
}

.add-to-cart{
    display: block;
    text-decoration: none;
    background-color:rgb(155, 4, 4);
    color: white;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Gidole", sans-serif;
}

.add-to-cart:hover{
    background-color: white;
    color: rgb(155, 4, 4);
    cursor: pointer;
    transition: .2s linear;
}

.card-meio-a-meio{
    display: block;
    text-decoration: none;
    background-color:rgb(155, 4, 4);
    color: white;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 35px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Gidole", sans-serif;
}

.card-meio-a-meio:hover{
    background-color: white;
    color: rgb(155, 4, 4);
    cursor: pointer;
    transition: .2s linear;
}



  /* roleta */


  
    .roleta{
        padding: 20px;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.651);
        align-items: center;
        justify-content: center;
    }
  .SistemaRotela{
    
    display:grid;
    align-items: center;
    justify-items: center;
    width: 800px;
    margin: auto;
    justify-content: center;
    background-color:white;
    border-radius: 20px;


}

h1{
    font-family: "Boldonse", system-ui;
    font-size: 30px;
    font-weight: 900;
    color: #991B1B;
    padding: 5px;
}

.SistemaRotela > p{
    font-size: 20px;
    font-weight: 900;
    font-size: 15px;
}
.folha {

    position: relative;

    
    margin: 10px;

    
    
}


#imagemRoleta{
    width: 300px;
    height: 300px;
    
}


.btnRoleta {

    position: absolute;

    color: white;

    background-color: #EAB308;

    border: 4px solid white;

    padding: 10px;

    cursor: pointer;

    top:36%;

    left: 36%;

    font-size: 15px;

    font-weight: bold;

    border-radius: 50%;

    height: 60px;

    width: 60px;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align:center;

    z-index: 999;

}

.btnRoleta:hover{
    transform: scale(1.10);
    transition: .5s  ;
    background-color: #CA8A04;

}



.respostaRoleta{

    width: 300px;
    height: 70px;
    border: 2px solid #991B1B;
    border-radius: 10px;
    text-align: center;
    color: #991B1B;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    display: none;

    
}

#resposta{
    font-size: 30px;
    font-weight: 900;
    padding: 5px 0px;

}

.cardsRoleta{
    display: flex;
    align-items: center;
    justify-content: center;
}


.cardsRoleta > .RoletaCarrinho{
    text-decoration: none;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    background-color:rgb(155, 4, 4);
    border: none;
    font-weight: bold;
    font-size: 13px;
    width: 150px;
    height: 40px;
    font-family: "Gidole", sans-serif;
    border-radius: 4px;


}

.cardsRoleta > .RoletaCarrinho:hover{
        transform: scale(1.10);
        transition: .5s;
        box-shadow: 0px 0px 10px black;

    
}


.cardsRoleta > .voltar > .voltarCard{
    margin: 0;
}
 

.conteiner{
    width: 1500px;
    padding: 20px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.651); /* Fundo escuro */
    align-items: center;
    justify-content: center;
}
 .conteinerCarne , .conteinerMetade{
    width: 1500px;
    padding: 20px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.651); /* Fundo escuro */
    align-items: center;
    justify-content: center;
}

.tamanho {
    width: 600px;
    height: 350px;
    margin: auto;
    background-color:white;
    border-radius: 20px;


}
.conteinerMetade > .tamanho {
    margin: auto;
    width: 600px;
    height: 550px;
    justify-content: center;
    background-color:white;
    border-radius: 20px;
    


}

.metade > input{
    background-color: #DE9008;
}

.voltarCard:hover{
    transform: scale(1.10);
    transition: .5s;
    text-shadow: 0px 0px 10px black;
    color: rgb(155, 4, 4);
}

.conteinerMetade > .tamanho > h1{
    font-family: "Boldonse", system-ui;
    font-weight: 700;
    padding: 30px;
    font-size: 30px;
    color:rgb(155, 4, 4);
    
}

.metade > h1{
    color:rgb(155, 4, 4) ;
    font-family: "Boldonse", system-ui;
    font-weight: 700;
    padding: 30px;
    font-size: 30px;
}

select{
    width: 200px;
    height: 30px;
    text-align: center;
    font-family: "Boldonse", system-ui;
    border-radius: 10px;
    margin: 10px;
}

.carne{
    border: 1px solid rgb(155, 4, 4);
    border-radius: 5px;
    padding: 5px;
 }

 .carne > strong{
    color: #DE9008;
 }

.tamanho > h1{
    font-family: "Boldonse", system-ui;
    font-weight: 700;
    padding: 30px;
    font-size: 40px;
    color:rgb(155, 4, 4);
    
}

.voltarCard{
    margin-top: 40px;
    height: 50px;
    cursor: pointer;
}
.conteinerMetade > .tamanho > h1{
    color: #DE9008;
}
.card > div > button{
    background-color:  rgb(155, 4, 4);
    color: white;
    font-size: 20px;
    border: none;
    width: 100px;
    height: 80px;
    border-radius: 10px;
    font-family: "Boldonse", system-ui;
    cursor: pointer;


}

.card > div > button:hover{
    cursor: pointer;
        transform: scale(1.10);
        transition: .5s;

}

.voltar{
    background-color: white;
    border: none;
}

.tamanho  > .card{
    /* background-color: aqua; */
    display: flex;
    font-size: 10px;
    font-weight: 900;


}



/* ACOMPANHAMENTO */

.principal {
    background-color: rgb(155, 4, 4);
}
.acompanhamentos{
    padding: 80px 0px;
    text-align: center;
    max-width: 1200px;
}

.acompanhamentos > .texto > h2{
    font-family: "Parisienne", serif;
    font-size: 25px;
    color: #F09C05;
}

.acompanhamentos > .texto > h1{
    font-family: "Boldonse", system-ui;
    color: white;
    font-size: 45px;
}

.acompanhamentos > .conteudo{
    display: flex;
}

.acompanhamentos > .conteudo > .refri{
    display: flex;
}

.acompanhamentos > .conteudo > .refri > div{
    width: 200px;
    padding: 50px 20px;
    border-radius: 15px;
    
    
}

.acompanhamentos > .conteudo > .refri > div:hover{
    background-color: lightgrey;

}
.acompanhamentos > .conteudo > .refri > div > img{
    height:160px;

}

.acompanhamentos > .conteudo > .refri > div > h1{
    color: white;
    font-size: 20px;
    text-shadow:  1px 1px 5px #991B1B;
}

.acompanhamentos > .conteudo > .refri > div > a{
    display: block;
    text-decoration: none;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 10px;
    text-align: center;
    font-weight: 900;
    background-color:#F09C05;
    color: white;
}

.acompanhamentos > .conteudo > .refri > div>a:hover{
    
    font-weight: 900;
    background-color: white;
    color: #DE9008;
}


/* ENTREGA */



.entrega {
    display: flex;
    max-width: 1200px;
    padding: 100px 0px;
}

.entrega > .texto{
    text-align: start;
}

.entrega > .texto > h3{
    color: #F09C05;
    font-size: 20px;
    font-family: "Parisienne", serif;
    margin-bottom: 20px;
}

.entrega > .texto > h1{
    font-size: 40px;
    font-weight: 900;
}

.entrega > .texto > h2{
    font-family: "Boldonse", system-ui;
    color: #DE9008;
    font-size: 30px;
    font-weight: 100;
    margin: 25px 0px;
}

.entrega > .texto > p{
    color: rgba(0, 0, 0, 0.589);
}
.entrega > .texto > .imagens{
    display: flex;
    margin: 40px 0px;
}

.entrega > .texto > .imagens > div{
    display: grid;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding-right: 40px;
    text-align: center;
}



/* CONTATO */

.titulo{
    text-align: center;
}


.titulo > h2 {
    color: #F09C05;
    font-size: 25px;
    font-family: "Parisienne", serif;
    padding: 30px ;
}

.titulo > h1{
    font-family: "Boldonse", system-ui;
    color: white;
    font-size: 60px;
}

.conteudo{
    display: flex;
    justify-content: center;
    
}

.conteudo > img{
    height: 450px;
    padding: 20px;
    
}

.conteudo > .texto{
    color: white;
    font-size: 20px;
    font-family: "Boldonse" , system-ui;
    background-color: rgba(197, 194, 194, 0.212);
    border-radius: 10px;
    padding: 10px 50px;

}

.conteudo > .texto > p{
    padding: 20px ;
    text-shadow: 1px 1px 1px black;
}


.conteudo > .texto > p > span {
    font-size: 30px; 
}
.conteudo > .texto > p > a {
    color: white;
    text-decoration: none;

}

.conteudo > .texto > p > a > img{
    width: 30px;
}

.sabor {
    display: none;
}