@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
*{
    margin: 0;
    padding: 0;
    margin: auto;
}

body{
   
    font-family: "Gidole", sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(155, 4, 4);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    position: fixed;
}

nav  a.menu{
    display: none;
}

nav  .card  .navBotoes{
    background-color: #9B0404;
    border: none;
}

nav  .card  .navBotoes a{
    font-family: "Gidole", sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 40px;

}

nav .card .navBotoes a:hover{
    color: #F09C05;

}
nav  .card  .navBotoes:hover{
    transform: scale(1.20);
    transition: .4s;
}

nav  .card  .voltar{
        display: none;

}

nav .card  .delivery{
    display: none;
}

nav img.logo{
    width: 130px;
    height: 130px;
}

nav a.Botaoroleta{
    color: white;
    text-decoration: none;
    font-weight: 600;
    background-color: black;
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
nav .cart{
    display:flex;
}

.cartP{
    display: none;
    background-color: #EAB308;
    border-radius: 50%;
    color: white;
    width: 12px;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    margin-left: -15px;
}
nav  .navBotoes2{
    border: none;
    color: #991B1B;
    height: 20px;
}
nav  .navBotoes2  span{
    background-color: rgb(155, 4, 4);
    border: none;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}

nav  .delivery{
    margin-top: 10px;
    display: flex;


}

nav  .delivery .DeliveryMotoboy{
    width: 80px;
    height: 80px;
}

nav  .delivery  .textoDelivery{
    color: #F09C05;
    font-weight: 600;
    

}
nav  .delivery  .textoDelivery > strong{
    color: aliceblue;
    font-weight: bold;

}




nav  .Botaoroleta:hover{
    color: black;
    background-color: white;
    transform: scale(1.10);
    transition: .4s;
}

 .navBotoes2 > span:hover{
    color: #F09C05;
    transform: scale(1.20);
    transition: .2s;
}

                                                                            /* MAIN */
                                                                            /* iNICIO */

main >  .principal {
    background-color: rgb(155, 4, 4);
}

main > .principal > section.inicio{
    height: 675px;
    background-color: rgb(155, 4, 4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    max-width: 1200px;
    
}

main >.principal > section.inicio > .texto{
    width: 40%;  
}

main >.principal > section.inicio > .texto > p{
    font-family: "Parisienne", serif;
    font-size: 30px;
    color: white;
    font-weight: 900;
}

main >.principal > section.inicio > .texto > h1{
    font-family: "Boldonse", system-ui;
    font-weight: 900;
    font-size: 90px;
    color: #F09C05;
}

main >.principal > section.inicio > .texto > .sabores{
    display: flex;
}

main >.principal > section.inicio > .texto > .sabores > a{
    margin: 0;
    margin-right: 10px;
    font-size: 20px;
    color: white;
    padding-right: 10px;
    cursor: pointer; 
}

main >.principal > section.inicio > .texto > .sabores > a:hover{
    transform: scale(1.10);
    transition: .4s;
}

main >.principal > section.inicio > .texto > .cardsecundario{
    margin-top:40px ;
    align-content: start;
    display: inline-flex;
}

main >.principal > section.inicio > .texto > .cardsecundario > a > button{
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Gidole", sans-serif;
    cursor: pointer;
    
}



main >.principal > section.inicio > .texto > .cardsecundario > a > button:hover{
    color: black;
    background-color: white;
    transform: scale(1.10);
    transition: .4s;
}

main >.principal > section.inicio > .texto > .cardsecundario > h1{
    color: #F09C05;
    font-size: 20px;
    font-family: "Boldonse", system-ui;
    margin-left: 70px;
}


main >.principal > section.inicio >.imagem{
    text-align: end;
    width: 50%;
    margin-top: 50px;
    padding-top: 50px;
    
    
}

main >.principal > section.inicio >.imagem > img{
    width: 550px;
    height: 550px;
}

.CarrinhodeCompras{
    display: none;
}


                                /* CARDAPIO */


.cardapio{
    background-color: white;
    text-align: center;
    display: grid;
    justify-content: center;
    max-width: 1200px;
}

.cardapio >.inicio{
    background-color: rgba(255, 255, 255, 0.534);
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    
} 

.cardapio >.inicio > h1{
    font-family: "Boldonse", system-ui;
    font-weight: 900;
    margin-top: 30px;
    font-size: 80px;
    color:rgb(155, 4, 4);
}
.cardapio > .inicio > .pesquisar{
    display: flex;
}

.cardapio > .inicio > .pesquisar >input{
    padding: 5px;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-family: "Boldonse", system-ui;
}

.cardapio > .inicio > .pesquisar >input::placeholder{
    color: #F09C05;
    font-size: 13px;
    font-weight: 100;
}

.cardapio > .inicio > .pesquisar > a > svg{
    color: black;
    width: 25px;
}


.cardapio > .inicio > a{
    display: block;
    text-decoration: none;
    color: #F09C05;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 30px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}

.cardapio > .inicio > a:hover{
    background-color: #F09C05;
    color: black;
    border: 1px solid #F09C05;
}

.cardapio >.conteinersabores{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cardapio >.conteinersabores >.sabor{
    width: 200px;
    margin: 3% 5%;
    padding: 50px 20px;
    border-radius: 15px;

}

.ingredientes{
    height: 40px;
}

.cardapio > .botao {
    display: block;
    text-decoration: none;
    background-color:#F09C05;
    color: white;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 12px;
    height: 40px;
    width: 150px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.493);
    text-transform: uppercase;
    font-family: "Boldonse", system-ui;
    cursor: pointer;
}


.cardapio > .botao:hover{
    transition: .5s;
    transform: scale(1.10);
    background-color:#9B0404;
}


.cardapio >.conteinersabores > .botao2{
    display: none;

}
.cardapio >.conteinersabores > .botao2 > a{
    text-decoration: none;
    background-color:#F09C05;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 900;
}

.cardapio >.conteinersabores > .botao3{
    display: none;

}

.cardapio >.conteinersabores > .botao3 > a{
    text-decoration: none;
    background-color:#F09C05;
    color: white;
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 900;
}



.cardapio >.conteinersabores >.sabor:hover{
    background-color: lightgrey;

}
.cardapio >.conteinersabores >.sabor > img{
    height:100px;

}

.cardapio >.conteinersabores >.sabor >h2{
    font-size: 20px;
}

.cardapio >.conteinersabores >.sabor >p{
    font-size: 15px;
}

.add-to-cart{
    display: block;
    text-decoration: none;
    background-color:rgb(155, 4, 4);
    color: white;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Gidole", sans-serif;
}

.add-to-cart:hover{
    background-color: white;
    color: rgb(155, 4, 4);
    cursor: pointer;
    transition: .2s linear;
}

.card-meio-a-meio{
    display: block;
    text-decoration: none;
    background-color:rgb(155, 4, 4);
    color: white;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 35px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Gidole", sans-serif;
}

.card-meio-a-meio:hover{
    background-color: white;
    color: rgb(155, 4, 4);
    cursor: pointer;
    transition: .2s linear;
}



  /* roleta */


  
    .roleta{
        padding: 20px;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.651);
        align-items: center;
        justify-content: center;
        
    }
  .SistemaRotela{
    
    display:grid;
    align-items: center;
    justify-items: center;
    width: 800px;
    height:95%;
    margin:  auto;
    justify-content: center;
    background-color:white;
    border-radius: 20px;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
    


}

h1{
    font-family: "Boldonse", system-ui;
    font-size: 30px;
    font-weight: 900;
    color: #991B1B;
    padding: 5px;
}

.SistemaRotela > p{
    font-size: 20px;
    font-weight: 900;
    font-size: 15px;
}

.inicioRoleta{
    display: flex;
    align-items: center;
}

.inicioRoleta .voltar{
    position: fixed;
    left: 75%;
}

.inicioRoleta .voltar span {
    color: black;
}
.folha {

    position: relative;

    
    margin: 10px;

    
    
}


#imagemRoleta{
    width: 300px;
    height: 300px;
    
}


.btnRoleta {

    position: absolute;

    color: white;

    background-color: #EAB308;

    border: 4px solid white;

    padding: 10px;

    cursor: pointer;

    top:36%;

    left: 36%;

    font-size: 15px;

    font-weight: bold;

    border-radius: 50%;

    height: 60px;

    width: 60px;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align:center;

    z-index: 999;

}

.btnRoleta:hover{
    transform: scale(1.10);
    transition: .5s  ;
    background-color: #CA8A04;

}



.respostaRoleta{

    width: 300px;
    height: 70px;
    border: 2px solid #991B1B;
    border-radius: 10px;
    text-align: center;
    color: #991B1B;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    display: none;

    
}

#resposta{
    font-size: 30px;
    font-weight: 900;
    padding: 5px 0px;

}

.cardsRoleta{
    display: flex;
    align-items: center;
    justify-content: center;
}


.cardsRoleta > .RoletaCarrinho{
    text-decoration: none;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    background-color:rgb(155, 4, 4);
    border: none;
    font-weight: bold;
    font-size: 13px;
    width: 150px;
    height: 40px;
    font-family: "Gidole", sans-serif;
    border-radius: 4px;


}

.cardsRoleta > .RoletaCarrinho:hover{
        transform: scale(1.10);
        transition: .5s;
        box-shadow: 0px 0px 10px black;

    
}


.cardsRoleta > .voltar > .voltarCard{
    margin: 0;
}



                                                   /* CARRINHO */

.Carrinho{
        display:none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.651);
        justify-content: end;
        font-family: "Boldonse", system-ui;
    }
.SistemaCarrinho{
    align-items: center;
    height: 100%;
    width: 35vw;
    background-color:white;
    border-radius: 20px 0px 0px 20px;
    justify-items: center;
}

.SistemaCarrinho  .inicioCarrinho{
    width: 100%;
    height: 70px;
    background-color:#9B0404;
    border-top-left-radius: 20px;
    display: flex;
    align-items: center ;

 

}
.inicioCarrinho button{
    background-color: #9B0404;

}

.voltar:hover{
    transform: scale(1.10);
    transition: .4s;
}
.voltar span{
    font-size: 35px;
    padding: 10px;
    color: white;
}
 
 .inicioCarrinho  h1{
    margin-top: 10px;
    padding: 0;
    color: aliceblue;
}  


.cardTest{
    height: 75vh;
    width: 100%;
    display: block;
    overflow: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;

}
.cardPizzas , .cardAcompanhamento{
    height: 100px;
    width: 95%;
    margin: 10px auto;
    border-radius: 10px;
    border: 2px solid #9B0404;
    background-color: white;
}

.saborPizza , .saborAcompanhamento{
    color: #F09C05;
    text-transform: uppercase;
    font-size: 15px;
}

.conteudoPizzas , .conteudoAcompanhamento{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    height: 70%;
    width: 95%;
    align-items: center;
    color: black;
    font-size: 10px;
    
} 

.conteudoPizzas  img {
    width: 30%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background-color: white;

}

.conteudoAcompanhamento img{
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

.tamanhoPizza {
    text-transform: uppercase;
}



  .voltar{
    height: 50px;
    margin: 0;
    padding: 0;
    
}

.SistemaCarrinho  .voltar  .voltarCard{
    margin: 0;
}

.PizzaQuantidade , .acompanhamentoQuantidade{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-items: center;
}

.PizzaQuantidade p , .acompanhamentoQuantidade p {
    padding: 0px 5px;
}

.mais , .menos {
    font-size: 15px;
    border: none;
    width: 15px;
}
.CardFiPedido{    
    height: 14vh;
    width: 100%;
    display: none;
    align-items: center;
    justify-items: center;
}
.FiPedido{
    position: fixed;
     top: 1;
    left: 1; 
    width: 30%;
    display: none;
    align-items:start;
    color: #9B0404;
    margin-bottom: 5px;
}

.FiPedido a{
    text-decoration: none;
    font-weight: 600;
    background-color: white;
    width: 180px;
    height: 35px;
    padding-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 5px #9B0404;
    color: #9B0404;
    border: 2px solid #9B0404;

}

.FiPedido a:hover{
    transform: scale(1.10);
    background-color: white;
    transition: .4s;
}















.conteiner , .conteinerC {
    width: 1500px;
    padding: 20px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.651);
    align-items: center;
    justify-content: center;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
 .conteinerMetade{
    width: 1500px;
    padding: 20px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.651);
    align-items: center;
    justify-content: center;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.tamanho .inicioConteiner{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.inicioConteiner .voltar{
    position: fixed;
    left: 72%;
    display: block;
    background-color: rgba(240, 255, 255, 0);
}

.inicioConteiner .voltar span{
    color: black;
}

.conteinerC .tamanho , .conteiner .tamanho {
    justify-content: center;
    margin: auto;
    width: 50%;
    background-color:white;
    border-radius: 20px;
}

.tamanho .inicioConteinerC{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.inicioConteinerC .voltar{
    position: fixed;
    left: 72%;
    display: block;
    background-color: rgba(240, 255, 255, 0);
}

.inicioConteinerC .voltar span{
    color: black;
}





.conteinerMetade > .tamanho{
    margin: auto;
    width: 600px;
    height: 460px;
    justify-content: center;
    background-color:white;
    border-radius: 20px;
}

.inicial{
    display: flex;
    background-color: #9B0404;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}

.inicial h1{
    font-family: "Boldonse", system-ui;
    font-weight: 700;
    font-size: 30px;
    color: white;
}

.inicial .voltar{
    background-color: #ffffff00;
    margin-left: -60px;
}

.meio{
    display: flex;
    align-items: center;
    background-color: #9B0404;
    height: 30px;
    width: 50%;
    border-radius: 10px;
    margin: 18px auto;
    color: white;
    font-family: "Boldonse", system-ui;
}

.input{
    display: flex;
    width: 70%;
    font-size: 18px;
    font-weight: bold;
}

.input p strong{
    color: #CA8A04;
    text-transform: capitalize;
    font-size: 18px;
    font-weight:bold ;
}

select{
    width: 200px;
    height: 30px;
    text-align: center;
    font-family: "Boldonse", system-ui;
    border-radius: 10px;
    margin: 10px;
}

.Pcarne{
    border: 1px solid rgb(155, 4, 4);
    border-radius: 5px;
    width: 150px;
    display: none;
}

.carne {
    border: 1px solid rgb(155, 4, 4);
    border-radius: 5px;
    padding: 5px;
    display: block;
 }

 .carne ,.Pcarne > strong{
    color: #DE9008;
 }

.tamanho > h1{
    font-family: "Boldonse", system-ui;
    font-weight: 700;
    padding: 30px;
    font-size: 40px;
    color:rgb(155, 4, 4);
    
}

.conteinerMetade > .tamanho > h1{
    color: #DE9008;
}
.card > div > button{
    background-color:  rgb(155, 4, 4);
    color: white;
    font-size: 20px;
    border: none;
    width: 100px;
    height: 80px;
    border-radius: 10px;
    font-family: "Boldonse", system-ui;
    cursor: pointer;


}

.card > div > button:hover{
    cursor: pointer;
        transform: scale(1.10);
        transition: .5s;

}

.voltar{
    background-color: white;
    border: none;
}

.tamanho  > .card{
    /* background-color: aqua; */
    display: flex;
    font-size: 10px;
    font-weight: 900;


}



/* ACOMPANHAMENTO */

.principal {
    background-color: rgb(155, 4, 4);
}
.acompanhamentos{
    padding: 80px 0px;
    text-align: center;
    max-width: 1200px;
    font-family: "Boldonse", system-ui;
}

.acompanhamentos > .texto > h2{
    font-family: "Parisienne", serif;
    font-size: 25px;
    color: #F09C05;
}

.acompanhamentos > .texto > h1{
    font-family: "Boldonse", system-ui;
    color: white;
    font-size: 45px;
}

.acompanhamentos > .conteudo{
    display: flex;
}

.acompanhamentos > .conteudo > .refri{
    display: flex;
}

.acompanhamentos > .conteudo > .refri > div{
    width: 200px;
    padding: 50px 20px;
    border-radius: 15px;
    
    
}

.acompanhamentos > .conteudo > .refri > div:hover{
    background-color: rgba(211, 211, 211, 0.747);

}
.acompanhamentos > .conteudo > .refri > div > img{
    height:160px;

}

.acompanhamentos > .conteudo > .refri > div > h1{
    color: white;
    font-size: 20px;
    text-shadow:  1px 1px 5px #991B1B;
}

.acompanhamentos > .conteudo > .refri > div > button {
    display: block;
    text-decoration: none;
    margin: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.493);
    border: none;
    border-radius: 5px;
    font-size: 10px;
    padding: 5px 10px;
    text-align: center;
    font-weight: 700;
    background-color:#F09C05;
    color: white;
}

.acompanhamentos > .conteudo > .refri > div>button:hover{
    transition: .5s;
    transform: scale(1.10);
    background-color: white;
    color: #DE9008;
}


/* ENTREGA */



.entrega {
    display: flex;
    max-width: 1200px;
    padding: 100px 0px;
}

.entrega > .texto{
    text-align: start;
}

.entrega > .texto > h3{
    color: #F09C05;
    font-size: 20px;
    font-family: "Parisienne", serif;
    margin-bottom: 20px;
}

.entrega > .texto > h1{
    font-size: 40px;
    font-weight: 900;
}

.entrega > .texto > h2{
    font-family: "Boldonse", system-ui;
    color: #DE9008;
    font-size: 30px;
    font-weight: 100;
    margin: 25px 0px;
}

.entrega > .texto > p{
    color: rgba(0, 0, 0, 0.589);
}
.entrega > .texto > .imagens{
    display: flex;
    margin: 40px 0px;
}

.entrega > .texto > .imagens > div{
    display: grid;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding-right: 40px;
    text-align: center;
}



/* CONTATO */

.titulo{
    text-align: center;
}


.titulo > h2 {
    color: #F09C05;
    font-size: 25px;
    font-family: "Parisienne", serif;
    padding: 30px ;
}

.titulo > h1{
    font-family: "Boldonse", system-ui;
    color: white;
    font-size: 60px;
}

.conteudo{
    display: flex;
    justify-content: center;
    
}

.conteudo > img{
    height: 450px;
    padding: 20px;
    
}

.conteudo > .texto{
    color: white;
    font-size: 20px;
    font-family: "Boldonse" , system-ui;
    background-color: rgba(197, 194, 194, 0.212);
    border-radius: 10px;
    padding: 10px 50px;

}

.conteudo > .texto > p{
    padding: 20px ;
    text-shadow: 1px 1px 1px black;
}


.conteudo > .texto > p > span {
    font-size: 30px; 
}
.conteudo > .texto > p > a {
    color: white;
    text-decoration: none;
    font-size: 15px;

}

.conteudo > .texto > p > a > img{
    width: 30px;
}

.sabor {
    display: none;
}